*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    text-align: center;
    line-height: 1.6;
    font-size: ;
}
.hero{
    padding: 50px 20px;
}
.logo{
    width: 60px;
    margin-top: 20px;
}
h1 h2{
    margin-bottom: 20px;
}
p{
    color: gray;
    max-width: 500px;
    margin: 0 auto 20px;
}
.buttons{
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    flex-wrap:wrap; 
} 

.btn{ 
    padding: 12px 25px;  
    border: none; 
    border-radius: 25px; 
    color: white; 
    cursor: pointer; 
} 
.ios{ 
    background:hsl(171, 66%, 44%); 
} 
.mac{ 
    background: hsl(233, 100%, 69%); 
} 
.features{ 
    padding: 50px 20px; 
}
.feature-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.feature-text{
    text-align: center;
}
.feature-text div{
    margin-bottom: 20px;
}
.access img{
    width: 100%;
    max-width: 600px;
}
.tools{
    padding: 50px 20px;
}
.tools-grid{
    display: grid;
}
.tools-grid div{
    padding: 20px;
}
.cto{
    padding: 50px 20px;
}
.imagee{
    display: flex;
    text-align: center;
    gap: 30px;
}
.footer{
    background: #f5f5f5;
    padding: 30px 20px;
}

.footer a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}